<div class="container">
<table class="table table-striped table-bordered table-hover">
     <thead>
       <tr>
         <th>Medical record</th>
         <th>Full name</th>
         <th>Age</th>
         <th>Gender</th>
         <th>Status</th>
         <th>Viewed count</th>
         <th>Location</th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <% @patients.each do |patient| %>
         <tr>
           <td><%= mr(patient.id) %></td>
           <td><%= full_name(patient.first_name, patient.middle_name, patient.last_name) %></td>
           <td><%= age(patient.date_of_birth) %></td>
           <td><%= patient.gender %></td>
           <td><%= patient.status %></td>
           <td><%= patient.viewed_count %></td>
           <td><%= link_to patient.location.name, patient.location %></td>
           <td><%= link_to 'Show', patient %></td>
         </tr>
       <% end %>
     </tbody>
 </table>
 </div>
