
<table>
     <thead>
       <tr>
         <th>Medical record</th>
         <th>First name</th>
         <th>Middle name</th>
         <th>Last name</th>
         <th>Date of birth</th>
         <th>Gender</th>
         <th>Status</th>
         <th></th>
       </tr>
     </thead>
     <tbody>
       <% @patients.each do |patient| %>
         <tr>
           <td><%= "MR" + patient.id.to_s.rjust(6, '0') %></td>
           <td><%= patient.first_name %></td>
           <td><%= patient.middle_name %></td>
           <td><%= patient.last_name %></td>
           <td><%= patient.date_of_birth %></td>
           <td><%= patient.gender %></td>
           <td><%= patient.status %></td>
           <td><%= link_to 'Show', patient %></td>
         </tr>
       <% end %>
     </tbody>
 </table>
