<p id="notice"><%= notice %></p>

<div>
    <p><h2><strong>Location information:</strong></h2></p>

<p>
  <strong>Code:</strong>
  <%= @location.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>
</div>

<br><br>
<div>
    <h2><strong>Patients in <%= @location.name %>:</strong></h2>

    <%= render "shared/patients_table" if @patients %>
</div>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
